.loader {
  border-top: 10px solid #2c3e50;
  border-bottom: 10px solid #9356DC;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear forwards;
  animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 20px;
  box-shadow: 2px 3px 5px rgb(177, 174, 174);
  border: none;
  padding: 10px 15px 10px 15px;
  margin: 10px 0 0 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.heart > i:hover {
  font-weight: var(--fa-style, 900);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*header*/
.header-logo {
  text-align: center;
  padding: 10px 0 10px 0;
  position: relative;
}
.header-logo img {
  width: 200px;
}
.header-logo i {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: x-large;
  color: black;
}

/*footer*/
.footer {
  background-color: #353535;
  padding-bottom: 10px;
}
.footer__logo {
  padding: 15px 0 0 25px;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 0;
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__list {
  text-decoration: none;
  color: white;
}
.footer__list i {
  padding-right: 15px;
}
.footer ul {
  list-style: none;
  padding-left: 20px;
}
.footer ul li {
  padding: 5px 0 5px 0;
}

@media all and (min-width: 992px) {
  .container-footer {
    font-size: 1.1em;
    margin-left: 45%;
  }
}

/*section location*/
.location {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #EAEAEA;
  border-top: 3px solid grey;
}
.location i {
  padding: 15px;
}

/*section banners*/
.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 10px 50px 10px;
  margin-bottom: 40px;
  background-color: #F7F7F7;
}
.banners__link--white {
  color: white;
  text-decoration: none;
}
.banners h1 {
  margin: 0;
}

/*section fonctionment*/
.fonctionment ul {
  padding-left: 0;
}
@media all and (min-width: 992px) {
  .fonctionment ul {
    display: flex;
    justify-content: space-around;
  }
}
.fonctionment__list {
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(177, 174, 174);
  list-style: none;
  padding: 20px 20px 20px 20px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-weight: 500;
}
@media all and (min-width: 992px) {
  .fonctionment__list {
    width: 25%;
    padding: 30px 30px 30px 20px;
    font-size: 1.1rem;
  }
}
.fonctionment__list > span {
  border: 5px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-left: -30px;
  margin-right: 10px;
  padding: 1px 4px 1px 4px;
  font-size: small;
}
.fonctionment__list i {
  padding: 0 15px 0 10px;
  color: #7E7E7E;
}
.fonctionment__list:hover, .fonctionment__list i:hover {
  background-color: #F5EDFF;
  color: #9356DC;
}

/*section restaurant*/
@media all and (min-width: 992px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaurants {
  background-color: #F7F7F7;
  padding: 20px 0 30px 0;
}

.card {
  height: 200px;
  width: 95%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(177, 174, 174);
}
@media all and (min-width: 992px) {
  .card {
    width: 22%;
    padding-bottom: 20px;
  }
}
.card__link--black {
  color: black;
  text-decoration: none;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__description > h3, .card__description p {
  margin: 5px 0 3px 5px;
}
@media all and (min-width: 992px) {
  .card__description > h3, .card__description p {
    font-size: 1.2em;
    padding-left: 10px;
  }
}
.card__heart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.2rem;
}
.card__new {
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 3px;
  padding: 5px;
  color: #008766;
  font-size: small;
  font-weight: 500;
}

.menu-pic img {
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 992px) {
  .menu-pic img {
    height: 350px;
  }
}

.title-heart {
  display: flex;
  position: relative;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: -50px;
  padding-top: 10px;
  border-radius: 30px 30px 0 0;
  background-color: white;
  padding-left: 10px;
  background-color: #F7F7F7;
  font-family: "Shrikhand", cursive;
  color: black;
}
@media all and (min-width: 992px) {
  .title-heart {
    justify-content: center;
    font-size: 1.2rem;
  }
}
.title-heart i {
  position: absolute;
  font-size: 23px;
  right: 20px;
  top: 35px;
}

/*menu*/
.container {
  background-color: #F7F7F7;
}
@media all and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
}

.container-menu {
  margin-top: -10px;
  padding-top: 20px;
}
.container-menu__title {
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 1.1rem;
  border-bottom: 2px solid #99E2D0;
  width: 30px;
  padding-left: 10px;
}
@media all and (min-width: 992px) {
  .container-menu__title {
    padding-left: 10px;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
}

.menu {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 3px 5px rgb(177, 174, 174);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 15px 0 15px 0;
  color: black;
  text-decoration: none;
}
.menu__description > h3, .menu__description p {
  margin: 5px 0 0px 5px;
}
.menu__price {
  font-weight: bold;
  align-self: flex-end;
  padding: 20px 10px 0 0;
}
.menu__price > p {
  margin-bottom: 3px;
}/*# sourceMappingURL=main.css.map */