/*footer*/

.footer
{
    background-color: #353535;
    padding-bottom: 10px;


       &__logo{        
        padding: 15px 0 0 25px;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 0;
        @include title-font(white);
       }
       &__list{
        text-decoration: none;
        color: white;
            i {
                padding-right: 15px;
            }
       }
       ul {
        list-style: none;
        padding-left: 20px;
            li {
                padding: 5px 0 5px 0;
            }
       }

}
 .container-footer 
 {
    @include desktop-only {
        font-size: 1.1em;
        margin-left: 45%;
    }
 }
