.btn
{
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 20px;
    box-shadow: $box-shadow;
    border: none;
    padding: 10px 15px 10px 15px;
    margin: 10px 0 0 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu-btn 
{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.heart > i:hover {
        font-weight: var(--fa-style,900);
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }



   