
.heart > i:hover {
        font-weight: var(--fa-style,900);
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition:  0.4s linear 0s;
      }



   