
.menu-pic img
{
    height: 220px;
    width: 100%;
    object-fit: cover;
  /*  @include desktop-only {
        height: 350px;
    }*/

}

.title-heart
{
    display: flex;
    position: relative;
    font-size: 0.8em;
    font-weight: 500;
    margin-top: -50px;
    padding-top: 10px;
    border-radius: 30px 30px 0 0;
    background-color: white;
    padding-left: 10px;
    background-color: $background-color;
    @include title-font(black);
  /*  @include desktop-only {
        justify-content: center;
        font-size: 1.2rem;
    }*/
        i {
            position: absolute;
            font-size: 23px;
            right: 20px;
            top: 35px;
         /*   @include desktop-only {
                position: relative;
                right: -100px;

            }*/
        }
}

/*menu*/
.container {
    background-color: $background-color;
 /*   @include desktop-only {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
    margin: 0 10px 0 10px;
    }*/
}

.container-menu
{
    margin-top: -10px;
    padding-top: 20px;

        &__title{
            margin-top: 0;
            text-transform: uppercase;
            padding-bottom: 5px;
            font-weight: 400;
            font-size: 1.1rem;
            border-bottom: 2px solid $color-terciary;
            width: 30px;
            padding-left: 10px;
         /*   @include desktop-only {
                padding-left: 10px;
                font-size: 1.2rem;
                padding-bottom: 10px;
            }*/

        }
}

.menu
{
    background-color: white;
    border-radius: 20px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 15px 0 15px 0;
    color: black;
    text-decoration: none;
    overflow: hidden;


        &__description{
            width: 80%;
            @include nowrap;
            & > h3, > p{
                margin: 5px 0 0px 5px;
                @include nowrap;
            }   
       }
        &__price{
            font-weight: bold;
            align-self: flex-end;
            padding: 20px 10px 0 0;

            & > p {
                margin-bottom: 3px;
            }
        }
        &__confirmation {
            background-color: $color-terciary;
            margin: -5px -75px -5px -5px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: 0.5s;
        }
        &:hover &__confirmation {
           /* margin-right: -10px;*/
           transform: translateX(-65px);
        }
        &__icon {
            color: white;
            transform: rotate(0);
            transition-duration: 0.5s;
        }
        &:hover &__icon {
            transform: rotate(360deg);
        }
        &:hover &__price {
            transform: translateX(-50px);
            transition-duration: 0.5s;
        }        
}

.container-btn {
    margin: 40px;
    text-align: center;

    &__btn {
        @include button;
        padding: 10px 25px 10px 25px;
    } 
}

.delay-1 
{
    animation: animation1 1s forwards 0s;
    
    
}
.delay-2
{
    animation: animation1 2s forwards 0s;
    
}
.delay-3
{
    animation: animation1 3s forwards 0s;
    
}

/*responsive design desktop*/
@media screen and (min-width: 992px) {

    .menu-pic img {
        height: 350px;
    }

    .title-heart {
        justify-content: center;
        font-size: 1.2rem;

            i {
                position: relative;
                right: -100px;
            }
    }

    /*menu*/
    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 3rem;
        margin: 0 10px 0 10px;
    } 
    
    .container-menu {
        &__title {
            padding-left: 10px;
            font-size: 1.2rem;
            padding-bottom: 10px;
        }
    }    
}

/*Reponsive design tablette*/
@media all and (min-width: 768px) and (max-width :992px) {

    .menu-pic img {
        height: 300px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }

    .menu {
        width: 100%;
        margin-right: 10px;
    }

    .title-heart {
        justify-content: center;
        font-size: 1.2rem;
    }
}